<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>

    <services>
      <service name="System.ServiceModel.Routing.RoutingService">

        <!-- address where the routing service is running on -->
        <endpoint address="net.tcp://localhost:5555/DemoRouter"
                  binding="netTcpBinding"
                  contract="System.ServiceModel.Routing.IRequestReplyRouter"
                  name="router1"/>

      </service>
    </services>

    <client>
      <!-- address of client to route to (target host) -->
      <!-- contract is not important because it's "drive through"-->
      <endpoint address="net.tcp://localhost:4444/Process"
                binding="netTcpBinding"
                contract="*"
                name="ContractService1"/>
      <endpoint address="net.tcp://localhost:6666/Process"
                binding="netTcpBinding"
                contract="*"
                name="ContractService2" />
      <endpoint address="net.tcp://localhost:7777/Process"
                binding="netTcpBinding"
                contract="*"
                name="ContractService1_BackupService" />
    </client>

    <routing>

      <backupLists>
        <backupList name="Host1_FailoverBackupList">
          <add endpointName="ContractService1_BackupService" />
        </backupList>
      </backupLists>

      <filters>
        <!-- if the routing endpoint's name is 'router1' then go to this endpoint -->
        <filter name="filter1"
                filterType="EndpointName"
                filterData="router1"/>
        <filter name="myFilter"
                filterType="Custom"
                customType="Demo.CustomFilter.CustomContentFilter,Demo.CustomFilter"
                filterData="pingo"/>
        <filter name="filterElse"
                filterType="MatchAll"/>
      </filters>

      <filterTables>

        <!-- routing table settings (filters list) -->
        <filterTable name="demoRoutingTable1">
          <add filterName="filter1"
               endpointName="ContractService1"/>
        </filterTable>

        <!-- musst set priority because more then 1 endpoint targeted -->
        <!-- higher priority => executes before -->
        <filterTable name="demoRoutingTable2">
          <add filterName="myFilter"
               endpointName="ContractService1"
               priority="1"
               backupList="Host1_FailoverBackupList"/>
          <!-- only if 'myFilter' returns falase then 'filterElse' gets executed-->
          <add filterName="filterElse"
               endpointName="ContractService2"
               priority="0"/>
        </filterTable>

      </filterTables>

    </routing>

    <bindings>
      <netHttpBinding>
        <binding maxReceivedMessageSize="2000000"
                 sendTimeout="00:10:00" />
      </netHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true"/>

          <!-- add routing table -->
          <routing filterTableName="demoRoutingTable2"/>

        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5.2" />
  </startup>

</configuration>